# secret key
SECRET_KEY="232323"

# django environment
DJANGO_ENV=dev

# allowed hosts
ALLOWED_HOSTS=https://frontend.uz,https://www.frontend.uz

# notify email
EMAIL_HOST_USER="example@gmail.com"
EMAIL_HOST_PASSWORD="xxxx xxxx xxxx xxxx"
DEFAULT_FROM_EMAIL="Project <example@gmail.com>"

# Google OAuth
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google