services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
    env_file:
      - ../.env
    command: uv run manage.py runserver 0.0.0.0:8000
